name: GitHub Actions and AWS workflow
on: push
permissions:
  id-token: write
  contents: read
jobs:
  terraform-check:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Format Code
        run: terraform fmt -check

  terraform-plan:
    runs-on: ubuntu-latest
    environment: development
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::637423385007:role/GithubActionsRole
          aws-region: eu-west-1
          audience: sts.amazonaws.com

      - name: Initialize Terraform
        run: terraform init

      - name: Create deployment plan
        run: terraform plan

  terraform-apply:
    runs-on: ubuntu-latest
    environment: development
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::637423385007:role/GithubActionsRole
          aws-region: eu-west-1
          audience: sts.amazonaws.com

      - name: Initialize Terraform
        run: terraform init

      - name: Deploy infrastructure
        run: terraform apply
